body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    
}
html{
    overflow-x: hidden;
}

.container{
    height: 600px;
    position: relative;
}

/*
div{
    margin: auto;
    padding: 3px;
    height: 250px;
    line-height: 45px;
    text-align: center;
}
*/


.memory{
    font-family: 'Spirax', cursive;
    font-size: 100px;
    color: rgb(165, 103, 114);
    margin: auto;
    padding-top: 135px;
    margin-top: 10px;
   
}

#button{
    margin: auto;
}

 .btn {
    font-family: 'Spirax', cursive;
    background-color:rgb(165, 103, 114);
    background-repeat: no-repeat;
    color: white;
    border: none;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 8px;
     margin-top: 5%;
     margin-left: 2%
    
}
#backBtn{

    margin-top: -1%;
    margin-left: 35.5%;
}
#howPlayDiv h2{
    text-align: center;
}
#howPlayDiv p{
    margin-left: 15px;
    line-height: 30px;
}
#howPlayDiv{
    background-color: #bd8b8b;
    display: none;
    height: 80%;
    width: 60%;
    color: white;
    margin:auto;
    position: absolute;
    top: 100px;
    overflow: hidden;
    left: 250px;
    border: solid 2px gray;
    border-radius: 15px;
    font-size: 25px;
    margin-top: 0;
}